---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-8">
    <h3 class="fw-bold">Introduction</h3>
    {{ content }}
  </div>
  <div class="col-md-4">
    <img src="{{ site.github.url }}/assets/img/home.png" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-8">
    <h3 class="fw-bold border-bottom pb-2 mb-2">Publications</h3>
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
  </div>
  <div class="col-md-4">
    <img src="{{ site.github.url }}/assets/img/LIPS_2_bonds_3d.png" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}

